<head>
</head>
<body>
  <h1>My todos</h1>
  <ul>

  </ul>

  <script type="text/javascript">
    /* eslint-env browser */
    const electron = require('electron');
    const { ipcRenderer } = electron;
    const list = document.querySelector('ul');
    ipcRenderer.on('todo:list', (event, todo) => {
      const li = document.createElement('li');
      // const input = document.createElement('input');
      // input.type = 'checkbox';
      // input.value = todo;
      const text = document.createTextNode(todo);

      li.appendChild(text);
      list.appendChild(li);
    });

    ipcRenderer.on('todo:clear', () => {
      list.innerHTML = '';
    })
  </script>
</body>
